################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/KIMPHAT/.vs/KIMPHAT/FileContentIndex/10b16e21-7f15-4e09-b123-d462015d1acb.vsidx
/KIMPHAT/.vs/KIMPHAT/FileContentIndex/27cdb10c-052b-4cbd-b11c-7532c7d7460e.vsidx
/KIMPHAT/.vs/KIMPHAT/FileContentIndex/6ebeb4f6-108a-4697-8954-40686ccfdc70.vsidx
