<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <ApplicationRevision>8</ApplicationRevision>
    <ApplicationVersion>1.1.0.*</ApplicationVersion>
    <BootstrapperEnabled>True</BootstrapperEnabled>
    <Configuration>Release</Configuration>
    <CreateDesktopShortcut>True</CreateDesktopShortcut>
    <CreateWebPageOnPublish>True</CreateWebPageOnPublish>
    <GenerateManifests>true</GenerateManifests>
    <Install>True</Install>
    <InstallFrom>Web</InstallFrom>
    <InstallUrl>https://raw.githubusercontent.com/jaycfy/app/main/published/</InstallUrl>
    <IsRevisionIncremented>True</IsRevisionIncremented>
    <IsWebBootstrapper>True</IsWebBootstrapper>
    <ManifestCertificateThumbprint>BA3C67AEABE155BB6EC3C467B381DD7EED801745</ManifestCertificateThumbprint>
    <ManifestKeyFile>Kimphat_TemporaryKey.pfx</ManifestKeyFile>
    <MapFileExtensions>True</MapFileExtensions>
    <MinimumRequiredVersion>1.0.0.2</MinimumRequiredVersion>
    <OpenBrowserOnPublish>False</OpenBrowserOnPublish>
    <Platform>Any CPU</Platform>
    <ProductName>Kimphat</ProductName>
    <PublishDir>bin\Release\net6.0-windows\app.publish\</PublishDir>
    <PublishUrl>C:\Users\JASON\Documents\GitHub\kimphat\published\</PublishUrl>
    <PublisherName>Jason</PublisherName>
    <PublishProtocol>ClickOnce</PublishProtocol>
    <PublishReadyToRun>False</PublishReadyToRun>
    <PublishSingleFile>False</PublishSingleFile>
    <SelfContained>False</SelfContained>
    <SignatureAlgorithm>sha256RSA</SignatureAlgorithm>
    <SignManifests>True</SignManifests>
    <SkipPublishVerification>false</SkipPublishVerification>
    <TargetCulture>fr-CA</TargetCulture>
    <TargetFramework>net6.0-windows</TargetFramework>
    <UpdateEnabled>True</UpdateEnabled>
    <UpdateMode>Foreground</UpdateMode>
    <UpdateRequired>True</UpdateRequired>
    <WebPageFileName>Publish.html</WebPageFileName>
    <UpdateUrl>https://raw.githubusercontent.com/jaycfy/app/main/published/</UpdateUrl>
    <History>True|2023-11-14T03:15:21.4706132Z;True|2023-11-13T19:17:28.3836764-05:00;True|2023-11-13T19:06:47.6080513-05:00;True|2023-11-13T18:25:40.2833810-05:00;True|2023-11-13T17:57:55.8175389-05:00;True|2023-11-13T17:01:05.8209978-05:00;</History>
  </PropertyGroup>
  <ItemGroup>
    <BootstrapperPackage Include="Microsoft.NetCore.DesktopRuntime.6.0.x64">
      <Install>true</Install>
      <ProductName>Runtime .NET Desktop 6.0.24 (x64)</ProductName>
    </BootstrapperPackage>
  </ItemGroup>
</Project>